* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d6eaf8;
}
div {
  height: 600px;
  width: 500px;
  margin: 10px auto;
  margin-top: 100px;
  border: 3px solid black;
  border-radius: 10px;
}
h1{
    margin-top: 200px;
    padding-left: 160px;
    
}
p{
    margin-top: 20px;
    margin-left: 20px;
    padding: 0 100px;
    line-height: 2;
}
button{
    height: 50px;
    width: 250px;
    margin-top: 50px;
    margin-left: 120px;
    border-radius: 50px;
    border-style: none;
    background: black;
    color: #fff;
}
i{
    height: 40px;
    width: 70px;
    margin: 0px 71px ;
}
